Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel $\rightarrow$ Restart) and then **run all cells** (in the menubar, select Cell $\rightarrow$ Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Neeraj Kumar Singh"
COLLABORATORS = "Neeraj Kumar Singh"

---

### ASSIGNMENT: Pandas Task
### TOTAL QUESTIONS: 15
### NOTE: Use pandas functions for all tasks. Do not change cells. Write your code only in the cells where it is marked as #YOUR CODE HERE. Start writing your code just below this line in the same cell, not in a different cell. Read the question carefully and note that the variable names to store the output or answer are already provided in some of the questions. Kindly follow that . Do not change the variable names.

### Do not add or delete cells

# Q1. Create a DataFrame named df with the following data:

| Name    | Age | City      |
| ------- | --- | --------- |
| Alice   | 25  | Delhi     |
| Bob     | 30  | Mumbai    |
| Charlie | 35  | Chennai   |
| David   | 40  | Kolkata   |
| Eva     | 45  | Bangalore |

In [ ]:
# YOUR CODE HERE
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Bangalore']
}
df = pd.DataFrame(data)
df
#raise NotImplementedError()

      Name  Age       City
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35    Chennai
3    David   40    Kolkata
4      Eva   45  Bangalore

# Q2.Display top 3 rows of df.

In [ ]:
# YOUR CODE HERE
first_three_rows_iloc = df.iloc[0:3]
print (first_three_rows_iloc)
#raise NotImplementedError()

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   35  Chennai

# Q3. Add a column Salary with values [50000, 60000, 55000, 70000, 65000]

In [ ]:
# YOUR CODE HERE
df['Salary'] = [50000, 60000, 55000, 70000, 65000]
print(df)
#df = df.drop('Salary', axis=1)
#raise NotImplementedError()

      Name  Age       City  Salary
0    Alice   25      Delhi   50000
1      Bob   30     Mumbai   60000
2  Charlie   35    Chennai   55000
3    David   40    Kolkata   70000
4      Eva   45  Bangalore   65000

# Q4. Check for null values in each column.

In [ ]:
# YOUR CODE HERE
import numpy as np
print(df.isnull())
#raise NotImplementedError()

    Name    Age   City  Salary
0  False  False  False   False
1  False  False  False   False
2  False  False  False   False
3  False  False  False   False
4  False  False  False   False

# Q5. Add a duplicate row and then count total duplicates and store in variable named as dup_count.

In [ ]:
# YOUR CODE HERE
df.loc[len(df)] = ['Allice', 35, 'Delhi', 9000]
dup_count = df.duplicated().sum()
print(df)
print("dup_count:",dup_count,)
#raise NotImplementedError()

       Name  Age       City  Salary
0     Alice   25      Delhi   50000
1       Bob   30     Mumbai   60000
2   Charlie   35    Chennai   55000
3     David   40    Kolkata   70000
4       Eva   45  Bangalore   65000
5    Allice   35      Delhi    9000
6    Allice   35      Delhi    9000
7    Allice   35      Delhi    9000
8    Allice   35      Delhi    9000
9    Allice   35      Delhi    9000
10   Allice   35      Delhi    9000
11   Allice   35      Delhi    9000
dup_count: 6

# Q6. Remove duplicate rows and reset the index.

In [ ]:
# YOUR CODE HERE
uniq_df = df.drop_duplicates()
dup_count = uniq_df.duplicated().sum()
print(uniq_df)
print("dup_count:",dup_count,)
#raise NotImplementedError()

      Name  Age       City  Salary
0    Alice   25      Delhi   50000
1      Bob   30     Mumbai   60000
2  Charlie   35    Chennai   55000
3    David   40    Kolkata   70000
4      Eva   45  Bangalore   65000
5   Allice   35      Delhi    9000
dup_count: 0

# Q7. Show the count of unique cities. Store in variable named as unique_cities

In [ ]:
# YOUR CODE HERE
unique_cities = df['City'].nunique()
print("unique_cities:=",unique_cities)
#raise NotImplementedError()

unique_cities:= 5

# Q8. Display all unique city names and store them in a variable called `city_names` .

In [ ]:
# YOUR CODE HERE
city_names = df['City'].unique()
print("city_names:=",city_names)
#raise NotImplementedError()

city_names:= ['Delhi' 'Mumbai' 'Chennai' 'Kolkata' 'Bangalore']

# Q9. Sort the DataFrame by Age in descending order and store in sorted_df.

In [ ]:
# YOUR CODE HERE
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)
#raise NotImplementedError()

       Name  Age       City  Salary
4       Eva   45  Bangalore   65000
3     David   40    Kolkata   70000
5    Allice   35      Delhi    9000
2   Charlie   35    Chennai   55000
8    Allice   35      Delhi    9000
9    Allice   35      Delhi    9000
6    Allice   35      Delhi    9000
7    Allice   35      Delhi    9000
10   Allice   35      Delhi    9000
11   Allice   35      Delhi    9000
1       Bob   30     Mumbai   60000
0     Alice   25      Delhi   50000

# Q10. Filter all rows where Salary > 60000 and store in variable called filtered_df.

In [ ]:
# YOUR CODE HERE
filtered_df = df[df['Salary'] > 60000]
print(filtered_df)
#raise NotImplementedError()

    Name  Age       City  Salary
3  David   40    Kolkata   70000
4    Eva   45  Bangalore   65000

# Q11. Get average Salary grouped by City and store in variable called avg_salary.

In [ ]:
# YOUR CODE HERE
avg_salary = df.groupby('City')['Salary'].mean()
print(avg_salary)
#raise NotImplementedError()

City
Bangalore    65000.0
Chennai      55000.0
Delhi        14125.0
Kolkata      70000.0
Mumbai       60000.0
Name: Salary, dtype: float64

# Q12. Create another DataFrame dept_df and merge with df horizontally. Store it in a variable called merged_df

dept_df columns:

| Name    | Department |
| ------- | ---------- |
| Alice   | HR         |
| Bob     | IT         |
| Charlie | Finance    |
| David   | Marketing  |
| Eva     | Admin      |

In [ ]:
# YOUR CODE HERE
dept_df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'Admin']
})
merged_df = pd.merge(df, dept_df, on='Name', how='inner')
print(merged_df)
#raise NotImplementedError()

      Name  Age       City  Salary Department
0    Alice   25      Delhi   50000         HR
1      Bob   30     Mumbai   60000         IT
2  Charlie   35    Chennai   55000    Finance
3    David   40    Kolkata   70000  Marketing
4      Eva   45  Bangalore   65000      Admin

# Q13. Concatenate two DataFrames vertically.

In [ ]:
# YOUR CODE HERE

Table1 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Bangalore']}
df1 = pd.DataFrame(Table1)
print(df1)
print("This is Table1 +++++++++++++++++++++++/" )
Table2 = {
    'Name': ['NKS', 'Bobu', 'Charly' ],
    'Age': [26, 25, 45],
    'City': ['Lucknow', 'MP', 'Andhra']}
df2 = pd.DataFrame(Table2)
print(df2)
print("This is Table2 +++++++++++++++++++++++/" )
concatenated_df = pd.concat([df1, df2], ignore_index=True)
print("This is Merged data of the Table1 & Table2 ++++++++++++++++++++/" )
print(concatenated_df)
#raise NotImplementedError()

      Name  Age       City
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35    Chennai
3    David   40    Kolkata
4      Eva   45  Bangalore
This is Table1 +++++++++++++++++++++++/
     Name  Age     City
0     NKS   26  Lucknow
1    Bobu   25       MP
2  Charly   45   Andhra
This is Table2 +++++++++++++++++++++++/
This is Merged data of the Table1 & Table2 ++++++++++++++++++++/
      Name  Age       City
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35    Chennai
3    David   40    Kolkata
4      Eva   45  Bangalore
5      NKS   26    Lucknow
6     Bobu   25         MP
7   Charly   45     Andhra

# Q14. Replace any missing Age values with the mean of the column.

In [ ]:
# YOUR CODE HERE
df5 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30,  , 40, 45],
    'City': ['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Bangalore']}
df5
print("This is Table +++++++++++++++++++++++/" )
#Above is sample data frame where charlie's age is not given
#mean_age = df['Age'].mean()
#df['Age'].fillna(mean_age, inplace=True)
print(df5)
raise NotImplementedError()

SyntaxError: invalid syntax (ipython-input-2743553397.py, line 4)

# Q15. Rename the column Salary to Income in the DataFrame df.

In [ ]:
# YOUR CODE HERE
df.rename(columns={'Salary': 'Income'}, inplace=True)
print(df)
#raise NotImplementedError()

       Name  Age       City  Income
0     Alice   25      Delhi   50000
1       Bob   30     Mumbai   60000
2   Charlie   35    Chennai   55000
3     David   40    Kolkata   70000
4       Eva   45  Bangalore   65000
5    Allice   35      Delhi    9000
6    Allice   35      Delhi    9000
7    Allice   35      Delhi    9000
8    Allice   35      Delhi    9000
9    Allice   35      Delhi    9000
10   Allice   35      Delhi    9000
11   Allice   35      Delhi    9000